#articles {
    padding: 1em 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

article {
    border: 1px solid var(--border);
    display: grid;
    grid-template: 
    "a a" 1em
    "b c" 1fr / auto 1fr;
}

article > .meta {
    grid-area: a;

    background: var(--background-dark);
    font-size: 0.8em;
    padding-left: 2px;
}

article > .image {
    grid-area: b;

    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
}

article > .body {
    grid-area: c;

    padding: 1em;
}
